* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.center {
    text-align: center;
}

.danger {
    color: white;
    font-size: 1.1rem;
    padding: .5rem .8rem;
    background-color: red;
}

.modal {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.visible {
    display: block;
}

.modal-content {
    width: 60%;
    margin: 20px auto;
    background: #fef;

}

.modal-header,
.modal-footer {
    padding: 20px;
    background-color: #390;
}

.modal-body {
    min-height: 300px;
    padding: 1rem 1.5rem;
}

.modal-body li {
    margin-bottom: 10px;
    border-bottom: 1px dashed black;
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}

.modal-body li>* {
    margin-left: 0.8rem;
}

.modal-body li img {
    display: block;
    width: 100px;
}

.modal-body #total-payment {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.wrap {
    display: flex;
    width: 80%;
    margin: 0 auto 30px;
    justify-content: space-between;
}

.header-wrap {
    background: linear-gradient(45deg, #33d, #344);
}

.wrap nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 10%;
}

.wrap nav #basket {
    cursor: pointer;
}

.main_nav_link {
    cursor: pointer;
}

.wrap header {
    flex: 60%;
    color: #fef;

}

.wrap header h1 {
    letter-spacing: 3px;
    padding-right: 3rem;
    text-align: center;
}

aside {
    flex: 10%;
}

aside .list {
    margin: 1.2rem 0 0.9rem;
}

aside h2 {
    margin-bottom: .6rem;
}

aside .list li {
    border: 1px solid gray;
    padding: .5rem;
    display: flex;
    align-items: center;
}

aside .list li:first-child {
    border-bottom: none;
}

aside .list li:last-child {
    border-top: none;
}

aside .list li label {
    margin-left: 0.3rem;
    width: 100%;
}

aside #price_range {
    z-index: 1;
    margin-top: 10px;
}

main {
    flex: 60%;
    padding: 10px;
}

main .cards {
    display: flex;
    flex-wrap: wrap;
}

main .cards .card {
    flex: 0 0 200px;
    margin-bottom: 20px;
    transition: 1s;
    position: relative;
    margin-left: 2rem;
    border: 1px solid black;

    box-sizing: border-box;
}

main .cards .card:hover {
    border-left: 3px solid black;
    border-top: 3px solid black;
    transition: border-left 0.6s,
        border-top 0.4s 0.6s;


}

.cards .card img {
    width: 50%;
    margin: 5px auto;
    display: block;
}

.cards .card-img {
    position: relative;
}

main .cards .card:hover img {
    transform: rotateY(-40deg)
}

.cards .card-text {
    padding: 5px 9px;
    position: relative;
}

.cards .card-text h3 {
    margin: 10px auto;
    text-align: center;
}

.price {
    text-align: right;
    border-radius: 50%;
    padding: 1rem;
    background: chocolate;
    position: absolute;
    right: -20px;
}

.show-details {
    position: absolute;
    left: 2rem;
    right: -20px;
    opacity: 0;
    transition: 1s;
    top: 20px;
}

.show-details button {
    padding: .3rem .6rem;
}

.card:hover .show-details {
    left: .5rem;
    opacity: 1;

}

/* Registration form */
.form>div {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form input {
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.9rem;
}

.form #buttons {
    margin: 20px auto 0;
}

.form #buttons button {
    padding: 0.3rem 0.6rem;
    font-size: 1.1rem;
}

.my_profile_content {
    width: 60%;
    margin: 20px auto;
}

.my_profile_content div {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.my_profile_content div input {
    flex: 1 1 120px;
    padding: 0.5rem 0.8rem;
    margin-left: 10px;
}

.my_profile_content div label {
    flex: 0 1 120px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#error_login,
#error_message_register {
    display: block;
    text-align: center;
    padding-top: 20px;
    color: red;
    font-size: 2rem;
}